<div th:fragment="footer">
    <div class="container mt-5">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="/plan-date" class="nav-link px-2 text-body-secondary">Plan</a></li>
                <li class="nav-item"><a href="/overview" class="nav-link px-2 text-body-secondary">Overview</a></li>
            </ul>
            <p class="text-center text-body-secondary">2024 The Fluyter ©</p>
        </footer>
    </div>
</div>