<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Planner</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1 class="mb-4 font-head">Date Planner</h1>
    <p class="lead">Plan memorable dates and keep track of them all in one place.</p>
    <div class="mt-4">
        <a href="/plan-date" class="btn button-primary btn-lg">Plan a Date</a>
        <a href="/friends-overview" class="btn button-secondary btn-lg">View Planned Dates</a>
    </div>
</div>
</body>
</html>